body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: white;
}

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #c9a23c;
}

header .logo {
    width: 85px;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
    
}

header h1 {
    color: #d4b052;
    margin: 10px 0;
    font-size: 32px;
}

nav a {
    color: #e5c16f;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.bienvenida {
    text-align: center;
    padding: 50px 20px;
}

.bienvenida h2 {
    color: #e1b85c;
    font-size: 36px;
}

.bienvenida button {
    margin-top: 20px;
    background-color: #c9a23c;
    border: none;
    padding: 12px 25px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.bienvenida button:hover {
    background-color: #e6c56a;
}

.galeria {
    padding: 40px 20px;
    text-align: center;
}

.galeria h2 {
    color: #e1b85c;
    margin-bottom: 20px;
}

.galeria img {
    width: 350px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #c9a23c;
    margin: 10px;
    box-shadow: 0px 0px 12px rgba(201, 162, 60, 0.4);
}

@media (min-width: 1200px) {
    .galeria img {
        width: 420px;
        height: 280px;
    }
}

.servicios {
    padding: 40px 20px;
}

.servicios h2 {
    color: #e1b85c;
}

.servicios ul li {
    margin-bottom: 12px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #b08d3a;
    padding: 12px;
}

th {
    background-color: #c9a23c;
    color: black;
    font-weight: bold;
}

.contacto {
    padding: 40px 20px;
    text-align: center;
}

.contacto input,
.contacto textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c9a23c;
    background-color: #1a1a1a;
    color: white;
}

.contacto button {
    background-color: #c9a23c;
    padding: 12px 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;

}

.contacto button:hover {
    background-color: #e6c56a;
}


footer {
    background-color: #000000;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #c9a23c;
}
